@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;}

:root{
    --cor-principal: #1476d1;
    --cor-animacao: #095aa5;
    --cor-secundaria: #fcfcfc;}

strong{
    color: var(--cor-principal);}

.texto-div{
        letter-spacing: 0.2rem;
        margin: 9% 0% 0%;
        font-size: 4rem;
        font-weight: 500;
        text-align: center;
        color: var(--cor-principal);}


.navbar, .principal, .cursos, .projetos, .texto-div {
    visibility: hidden;
}


.navbar{
    display: flex;
    justify-content: end;
    padding: 5% 15% 2% 4%;
    align-items: center;
    color: black;
    border-radius: 0px;}

    .navbar-botoes{
        list-style: none;
        display: flex;
        gap: 4vh;}

    .navbar-botoes li{
        font-size: 1.2rem;
        transition: 0.2s;}

    .navbar-botoes li:hover{
        transform: translateY(-0%);}

    .navbar-botoes a{
        color: var(--cor-animacao);
        text-decoration: none;
        font-weight: 400;}

    .navbar-botoes a:after{
        content: "";
        position: absolute;
        height: 3px;
        width: 0%;
        left: 0;
        bottom: -10px;
        background-color: var(--cor-animacao);
        transition: 0.5s;}

    .navbar-botoes a:hover:after{
        width: 100%;}




.principal{
    margin: 2% 0% 0% 9%;
    font-size: 2rem;
    gap: 12vh;
    display: flex;}

    .principal-titulo{
        margin: 4% 0% 0%;}

    .principal-infos{
        width: 50%;}

    .principal-descricao{
        margin-top: 2%;
        width: 85%;
        font-size: 1.3rem;}

    .principal-cursados{
        list-style: none;
        display: flex;
        gap: 5vh;
        font-size: 2rem;
        color: var(--cor-principal);
        text-align: center;}

    .principal-cursados li{
        transition: 1s;}

    .principal-cursados li:hover{
        scale: 1.1;}

    .principal-cursados p{
        color: black;}

    .principal-foto{
        width: 30%;
        height: 600%;
        border-radius: 20px;}

    .principal-botoes{
        list-style: none;
        padding: 19% 0% 0% 0%;
        transition-duration: 0.2s;}

    .principal-botao{
    gap: 5%;
    color: black;
    border: 2px solid var(--cor-principal);
    border-radius: 4%;
    padding: 2% 10%;
    margin: 0% 6% 0% 0%;
    text-decoration: none;
    transition-duration: 0.2s;}





.cursos{
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 8%;
    display: flex;
    justify-content: space-between;
    gap: 2%;
    width: auto;
    height: 400px;}

    .cursos-card{
        -webkit-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.2);
        display: flex;
        justify-content: center;
        width: 400px;
        height: 400px;
        position: relative;
        background-color: var(--cor-secundaria);
        border-radius: 20px;
        transition: 0.5s;}

    .cursos-card:hover{
        height: 430px;}

    .cursos-card-img{
        position: absolute;
        width: 200px;
        height: auto;
        top: 100px;
        transition: 0.5s;}

    .cursos-card:hover .cursos-card-img{
        top: -10px;
        scale: 0.8;}

    .cursos-card-img img{
        height: 100%;
        width: 100%;}

    .cursos-card-infos {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 350px;
        gap: 27px;
        width: 100%;
        height: 5px;
        padding: 0% 5%;
        text-align: center;
        overflow: hidden;
        transition: 0.5s;
        opacity: 0%;}

    .cursos-card-infos h3{
        font-size: 2rem;}

    .cursos-card:hover .cursos-card-infos{
        top: 250px;
        height: 150px;
        opacity: 100%;}




.projetos{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 450px;
    align-items: center;}

    .projetos-card{
        -webkit-box-shadow: 0px 0px 24px -4px rgba(9,90,165,1);
        -moz-box-shadow: 0px 0px 24px -4px rgba(9,90,165,1);
        box-shadow: 0px 0px 24px -4px rgba(9,90,165,1);
        padding: 2%;
        border-radius: 20px;
        width: 400px;
        height: auto;
        display: flex;
        flex-direction: column;
    transition: 0.5s;}

    .projetos-card:hover{
        scale: 1.02;}

    .projetos-card-info{
        text-align: center;}

    .projetos-card-info p{
        font-size: 0.8rem;}

    .projetos-card-info-imagem img{
        margin-top: 4%;
        width: 100%;}

    .projetos-card-info-botao{
        margin-top: 5%;
        padding: 4%;
        background-color: var(--cor-principal);
        text-align: center;   
        color: white;
        font-weight: 600;
        text-decoration: none;
        transition: 0.5s;}

    .projetos-card-info-botao:hover{
        background-color: var(--cor-animacao);}




.footer{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: var(--cor-animacao);
    color: white;
    padding: 1% 0%;
}

